# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*


\.DS_Store

terraform\.tfstate\.d/


scripts/
env/

lambda/code/bin/

lambda/code/certifi/

lambda/code/certifi-2019.11.28.dist-info/

lambda/code/chardet/

lambda/code/chardet-3.0.4.dist-info/

lambda/code/idna/

lambda/code/idna-2.8.dist-info/

lambda/code/pymysql/

lambda/code/PyMySQL-0.9.3.dist-info/

lambda/code/requests/

lambda/code/requests-2.22.0.dist-info/

lambda/code/urllib3/

lambda/code/urllib3-1.25.8.dist-info/

lambda/output/
